.about {
    padding: 110px 0;
    max-width: 1140px;
    margin: auto;
}

.about__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
    margin: 0;
}

.about__container {
    display: flex;
    gap: 40px;
    max-width: 1140px;
    margin: auto;
}

.about__description {
    margin: 70px 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.about__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin: 0;
}

.about__scale {
    display: grid;
    margin: 110px auto 14px;
    max-height: 36px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "backend frontend frontend frontend frontend"
}

.about__scale-display {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.about__scale-display_backend {
    grid-area: backend;
    background-color: #3DDC84;
    
}

.about__scale-display_frontend {
    grid-area: frontend;
    background-color: #303030;
}

.about__scale-title_frontend {
    color: #fff;
}

.about__scale-container {
    display: grid;
    margin: auto;
    max-height: 36px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "backend frontend frontend frontend frontend"
}

.about__scale-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.about__scale-description_backend {
    grid-area: backend;
}

.about__scale-description_frontend {
    grid-area: frontend;
}

@media screen and (max-width: 1100px) {
    .about {
        max-width: 950px;
    }
}

@media screen and (max-width: 800px) {
    .about {
        max-width: 668px;
        padding: 90px 0;
    }

    .about__container {
        gap: 30px;
    }

    .about__description {
        margin-bottom: 22px;
    }

    .about__text {
        font-size: 12px;
        line-height: 18px;
    }

    .about__scale {
        margin-top: 93px;
    }
}

@media screen and (max-width: 576px) {
    .about {
        max-width: 284px;
        padding: 70px 0;
    }

    .about__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .about__container {
        flex-direction: column;
        gap: 56px;
        margin-top: 60px;
    }

    .about__description {
        margin: 0 0 16px;
        font-size: 18px;
        line-height: 22px;
    }

    .about__text {
        font-size: 11px;
        line-height: 16px;
    }

    .about__scale {
        margin: 60px 0 10px;
    }

    .about__scale-display {
        font-size: 11px;
        line-height: 13px;
    }

    .about__scale-description {
        font-size: 11px;
        line-height: 13px;
    }
}