.promo {
    padding: 20px 40px 0;
}

.promo__container {
    background-color: #272727;
    padding: 160px 0 30px;
    margin: auto;
    border-radius: 10px;
}

.promo__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 730px;
    margin: 0;
    display: block;
    margin: auto;
    text-align: center;
    letter-spacing: -0.04em;;
}

@media screen and (max-width: 1140px) {
    .promo {
        max-width: 950px;
    }
}

@media screen and (max-width: 800px) {
    .promo {
        padding: 20px 20px 0;
    }

    .promo__container {
        max-width: 728px;
        padding: 350px 0 30px
    }
}

@media screen and (max-width: 576px) {
    .promo {
        padding: 14px 14px 0;
    }

    .promo__container {
        max-width: 292px;
        padding: 220px 0 17px;
    }

    .promo__title {
        font-size: 29px;
        line-height: 37px;
    }
}